<nav class="navbar navbar-expand-sm bg-primary navbar-dark d-flex justify-content-between fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search">Sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sales">Reports</a>
    </li>
  </ul>
  <a class="btn btn-danger" href="/logout">Logout</a>
</nav>


<div class="edit-main">

  <div class="edit-form">

    <h1>Make some changes</h1>
    <form class="edit-form-form" action="/products/{{changeProd._id}}/edit" method="post">
      <label for="">Name:</label><br>
      <input type="text" name="name" value="{{changeProd.name}}"><br><br>

      <label for="">Barcode:</label><br>
      <input type="text" name="barcode" value="{{changeProd.barcode}}"><br><br>

      <label for="">Price:</label><br>
      <input type="text" name="price" value="{{changeProd.price}}"><br><br>

      <label for="">Stock:</label><br>
      <input type="number" name="stock" value="{{changeProd.stock}}"><br><br>
      <br>
      <br>

      <button class="btn btn-success" type="submit">EDIT</button>
    </form>

  </div>

</div>