<nav class="navbar navbar-expand-sm bg-primary navbar-dark d-flex justify-content-between fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search">Sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sales">Reports</a>
    </li>
  </ul>
  <a href="/logout">Logout</a>
</nav>

<div class="product-main-container">

  <div class="product-title">
    <h1>Products</h1>
    <a class="btn btn-success" href="/products/add">Add New Product</a>
  </div>

  <div class="product-container">
    {{#each prod}}
    <div class="card" id="catalog">
      <div class="card-body">
        <h4 class="card-title">{{this.name}}</h4>
        <p class="card-text">Barcode: {{this.barcode}}</p>
        <p class="card-text">Price: ${{this.price}}</p>
        <p class="card-text">Stock: {{this.stock}}</p>
        <a href="/products/{{this._id}}/edit" class="card-link">Edit</a>
        <a href="/products/delete" class="card-link">Delete</a>
      </div>
    </div>
    {{/each}}
  </div>

</div>