<nav class="navbar navbar-expand-sm bg-primary navbar-dark d-flex justify-content-between fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search">Sales</a>
    </li>
  </ul>
  <a href="/logout">Logout</a>
</nav>


<h1>Make some changes</h1>

<form action="/products/{{changeProd._id}}/edit" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{changeProd.name}}"><br>

  <label for="">Barcode:</label>
  <input type="text" name="barcode" value="{{changeProd.barcode}}"><br>

  <label for="">Price:</label>
  <input type="text" name="price" value="{{changeProd.price}}"><br>

  <label for="">Stock:</label>
  <input type="number" name="stock" value="{{changeProd.stock}}"><br>

  <button type="submit">EDIT</button>
</form>