<nav class="navbar navbar-expand-sm bg-primary navbar-dark d-flex justify-content-between fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search">Sales</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/sales">Reports</a>
    </li>
  </ul>
  <a href="/logout">Logout</a>
</nav>

{{#each sales}}
  <div class="card">
    <div class="card-body">
    <h3 class="card-title">
      Sale {{@index}}:
    </h3>

    {{#each this.movements}}
    <p class="card-text"> 
      Quantity: {{this.quantity}}
      Product: {{this.product.name}}
      Single Price: ${{this.product.price}}
      Sub-Total: ${{this.subTotal}}
    </p>
    {{/each}}
    
    <h4 class="card-title">
    Total Sale: ${{this.total}}
    </h4>
    </div>
  </div>
{{/each}}